.mission-bg {
    background-color: #BE1E2D;
}

.vision-bg {
    background-image: url('../../../public/images/vision.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.vision {
    font-style: italic;
    font-size: 24px;
}
.title {
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: solid 3px white;
    font-weight: 900;
    z-index: 10;
}

.mission-container {
    color: white;
    margin-top: 40px;
}

.logo {
    max-width: 50%;
    display: inline-block;
}
