.home-menu-bar{
  height: 5vh;
  padding-top: 3vh;
  font-size: 18px;
  font-weight: bold;
}

.col-sm-2_5{
  width: 20%;
  display: inline-block;
}

.col-sm-2_5:hover{
  color: rgb(128, 128, 128);
}

.landing-gtd{
  margin-top: 15vh;
  /*padding-top: -100px;*/
  height: 30vh;
}

.coming-soon{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
}
